* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #6f76c8;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f1424;
}

body #container {
  width: 330px;
  padding: 80px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: min-content (1fr)[6];
      grid-template-rows: -webkit-min-content repeat(6, 1fr);
      grid-template-rows: min-content repeat(6, 1fr);
  gap: 20px;
}

body #container #mainCard {
  width: 100%;
  background-color: #1c1f4a;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  border-radius: 15px;
}

body #container #mainCard #user {
  width: 100%;
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background-color: #5847eb;
}

body #container #mainCard #user #userAvatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid white;
}

body #container #mainCard #user #userAvatar img {
  width: 100%;
}

body #container #mainCard #user #userData #reportFor {
  font-size: 0.8em;
  color: #bdc1ff;
  font-weight: 500;
}

body #container #mainCard #user #userData #userName {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 300;
  color: white;
}

body #container #mainCard #times {
  width: 100%;
  margin: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #container #mainCard #times a {
  cursor: pointer;
  text-decoration: none;
}

body #container #mainCard #times a:hover {
  color: #bdc1ff;
}

body #container .card {
  width: 100%;
  height: 160px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 95% -8%;
  position: relative;
}

body #container .card .cardData {
  width: 100%;
  height: 78%;
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 13px;
  background-color: #1c1f4a;
  position: absolute;
  bottom: 0px;
}

body #container .card .cardData .cardDataHead {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container .card .cardData .cardDataHead .cardName {
  margin: 0px;
  color: white;
  font-weight: 500;
}

body #container .card .cardData .cardDataHead .cardMenu {
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
}

body #container .card .cardData .cardDataHead .cardMenu:hover {
  color: #bdc1ff;
}

body #container .card .cardData .cardDataResults {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container .card .cardData .cardDataResults .totalTime {
  margin: 0px;
  font-size: 2em;
  font-weight: 300;
  color: white;
}

body #container .card .cardData .cardDataResults .last {
  margin: 0px;
  color: #bdc1ff;
  font-size: 0.8em;
}

body #container .card .cardData:hover {
  background-color: #2a2f6f;
}

body #container #workCard {
  background-color: #ff8c66;
  background-image: url(../images/icon-work.svg);
}

body #container #playCard {
  background-color: #56c2e6;
  background-image: url(../images/icon-play.svg);
}

body #container #studyCard {
  background-color: #ff5c7c;
  background-image: url(../images/icon-study.svg);
}

body #container #exerciseCard {
  background-color: #4acf81;
  background-image: url(../images/icon-exercise.svg);
}

body #container #socialCard {
  background-color: #7536d3;
  background-image: url(../images/icon-social.svg);
}

body #container #selfCareCard {
  background-color: #f1c65b;
  background-image: url(../images/icon-self-care.svg);
}

body .attribution {
  font-size: 0.6em;
  color: #5847eb;
}

body .attribution a {
  font-size: 1.2em;
  text-decoration: none;
  color: #4acf81;
}

@media (min-width: 540px) {
  body #container {
    width: 540px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: min-content (1fr)[3];
        grid-template-rows: -webkit-min-content repeat(3, 1fr);
        grid-template-rows: min-content repeat(3, 1fr);
  }
  body #container #mainCard {
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  body #container .card {
    width: auto;
    height: 245px;
  }
}

@media (min-width: 810px) {
  body #container {
    width: 810px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: min-content (1fr)[3];
        grid-template-rows: -webkit-min-content repeat(3, 1fr);
        grid-template-rows: min-content repeat(3, 1fr);
  }
  body #container #mainCard {
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  body #container .card {
    width: auto;
    height: 245px;
  }
}

@media (min-width: 1080px) {
  body #container {
    width: 1080px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  body #container #mainCard {
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }
  body #container #mainCard #user {
    width: 100%;
    height: 70%;
    padding: 30px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  body #container #mainCard #user #userAvatar {
    width: 90px;
    height: 90px;
  }
  body #container #mainCard #user #userData #userName {
    font-size: 2.1em;
  }
  body #container #mainCard #times {
    width: 100%;
    height: 30%;
    margin: 0px;
    padding: 0px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body #container .card {
    width: auto;
    height: 245px;
  }
}
/*# sourceMappingURL=styles.css.map */