// Primary colors
$colorBlue: hsl(246, 80%, 60%);
$colorLightRedWork: hsl(15, 100%, 70%);
$colorSoftBluePlay: hsl(195, 74%, 62%);
$colorLightRedStudy: hsl(348, 100%, 68%);
$colorLimeGreenExercise: hsl(145, 58%, 55%);
$colorVioletSocial: hsl(264, 64%, 52%);
$colorSoftOrangeSelfCare: hsl(43, 84%, 65%);

// Neutral colors
$colorVeryDarkBlue: hsl(226, 43%, 10%);
$colorDarkBlue: hsl(235, 46%, 20%);
$colorDarkBlueHover: hsl(236, 45%, 30%);
$colorDesaturatedBlue: hsl(235, 45%, 61%);
$colorPaleBlue: hsl(236, 100%, 87%);

// Typography Body Copy
$tyoFontSize: 18px; // (card titles e.g. Work, Play)
$typFontFamily: "Rubik", sans-serif; //Family: [Rubik](https://fonts.google.com/specimen/Rubik)
$typFontWeightLight: 300;
$typFontWeightRegular: 400;
$typFontWeightMedium: 500;

* {
    // margin: 0px;
    // padding: 0px;
    box-sizing: border-box;
    font-family: $typFontFamily;
    font-size: $tyoFontSize;
    color: $colorDesaturatedBlue;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $colorVeryDarkBlue;

    #container {
        width: 330px;
        padding: 80px 0px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content repeat(6, 1fr);
        gap: 20px;

        #mainCard {
            width: 100%;
            background-color: $colorDarkBlue;
            grid-column: 1/2;
            grid-row: 1 / span 1;
            border-radius: 15px;
            #user {
                width: 100%;
                padding: 30px 0px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 15px;
                background-color: $colorBlue;

                #userAvatar {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    border: 3px solid white;
                    img {
                        width: 100%;
                    }
                }

                #userData {
                    #reportFor {
                        font-size: 0.8em;
                        color: $colorPaleBlue;
                        font-weight: $typFontWeightMedium;
                    }
                    #userName {
                        margin: 0px;
                        font-size: 1.4em;
                        font-weight: $typFontWeightLight;
                        color: white;
                    }
                }
            } // fin user

            #times {
                width: 100%;
                margin: 25px 0px;
                display: flex;
                justify-content: space-around;

                a {
                    cursor: pointer;
                    text-decoration: none;
                }
                a:hover {
                    color: $colorPaleBlue;
                }
            }
        } //fin mainCard

        .card {
            width: 100%;
            height: 160px;
            // grid-column: 1 / span 1;
            border-radius: 15px;
            background-repeat: no-repeat;
            background-position: 95% -8%;
            position: relative;

            .cardData {
                width: 100%;
                height: 78%;
                padding: 25px 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 13px;
                background-color: $colorDarkBlue;
                position: absolute;
                bottom: 0px;

                .cardDataHead {
                    width: 100%;
                    // padding: 30px 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .cardName {
                        margin: 0px;
                        color: white;
                        font-weight: $typFontWeightMedium;
                    }
                    .cardMenu {
                        font-size: 1.5em;
                        font-weight: $typFontWeightMedium;
                        cursor: pointer;
                    }
                    .cardMenu:hover {
                        color: $colorPaleBlue;
                    }
                } //fin carDataHead

                .cardDataResults {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .totalTime {
                        margin: 0px;
                        font-size: 2em;
                        font-weight: $typFontWeightLight;
                        color: white;
                    }
                    .last {
                        margin: 0px;
                        color: $colorPaleBlue;
                        font-size: 0.8em;
                    }
                } //fin cardDataResults
            } //fin cardData
            .cardData:hover {
                background-color: $colorDarkBlueHover;
            }
        } //fin card

        #workCard {
            // grid-row: 2 / span 1;
            background-color: $colorLightRedWork;
            background-image: url(../images/icon-work.svg);
        } //fin workCard

        #playCard {
            // grid-row: 3 / span 1;
            background-color: $colorSoftBluePlay;
            background-image: url(../images/icon-play.svg);
        } //fin playCard

        #studyCard {
            // grid-row: 4 / span 1;
            background-color: $colorLightRedStudy;
            background-image: url(../images/icon-study.svg);
        } //fin studyCard

        #exerciseCard {
            // grid-row: 5 / span 1;
            background-color: $colorLimeGreenExercise;
            background-image: url(../images/icon-exercise.svg);
        } //fin exersiceCard

        #socialCard {
            // grid-row: 6 / span 1;
            background-color: $colorVioletSocial;
            background-image: url(../images/icon-social.svg);
        } //fin socialCard

        #selfCareCard {
            // grid-row: 7 / span 1;
            background-color: $colorSoftOrangeSelfCare;
            background-image: url(../images/icon-self-care.svg);
        } //fin selfCareCard
    } //fin container

    .attribution {
        font-size: 0.6em;
        color: $colorBlue;
        a {
            font-size: 1.2em;
            text-decoration: none;
            color: $colorLimeGreenExercise;
        }
    }
} //fin body

@media (min-width: 540px) {
    body {
        #container {
            width: 540px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: min-content repeat(3, 1fr);

            #mainCard {
                width: 100%;
                grid-column: 1 / span 2;
                grid-row: 1 / span 1;
            } //fin mainCard

            .card {
                width: auto;
                height: 245px;
            } //fin card
        } //fin container
    } //fin body
} //fin media (min-width: 540px)

@media (min-width: 810px) {
    body {
        #container {
            width: 810px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: min-content repeat(3, 1fr);

            #mainCard {
                width: 100%;
                grid-column: 1 / span 3;
                grid-row: 1 / span 1;
            } //fin mainCard

            .card {
                width: auto;
                height: 245px;
            } //fin card
        } //fin container
    } //fin body
} //fin media (min-width: 810px)

@media (min-width: 1080px) {
    body {
        #container {
            width: 1080px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);

            #mainCard {
                width: 100%;
                grid-column: 1 / span 1;
                grid-row: 1 / span 2;

                #user {
                    width: 100%;
                    height: 70%;
                    padding: 30px 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: start;

                    #userAvatar {
                        width: 90px;
                        height: 90px;
                    }

                    #userData {
                        #userName {
                            font-size: 2.1em;
                        }
                    }
                } // fin user

                #times {
                    // background-color: yellowgreen;
                    width: 100%;
                    height: 30%;
                    margin: 0px;
                    padding: 0px 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
            } //fin mainCard

            .card {
                width: auto;
                height: 245px;
            } //fin card
        } //fin container
    } //fin body
} //fin media (min-width: 1080px)
