* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #6f76c8;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f1424;
}

body #container {
  width: 330px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: min-content (1fr)[6];
      grid-template-rows: -webkit-min-content repeat(6, 1fr);
      grid-template-rows: min-content repeat(6, 1fr);
  row-gap: 20px;
}

body #container #mainCard {
  width: 100%;
  background-color: #1c1f4a;
  -ms-grid-columns: 1/2;
      grid-template-columns: 1/2;
  -ms-grid-rows: 1 / span 1;
      grid-template-rows: 1 / span 1;
  border-radius: 15px;
}

body #container #mainCard #user {
  width: 100%;
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background-color: #5847eb;
}

body #container #mainCard #user #userAvatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid white;
}

body #container #mainCard #user #userAvatar img {
  width: 100%;
}

body #container #mainCard #user #userData #reportFor {
  font-size: 0.8em;
}

body #container #mainCard #user #userData #userName {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 300;
  color: white;
}

body #container #mainCard #times {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #container .card {
  width: 100%;
  height: 160px;
  -ms-grid-columns: 1/2;
      grid-template-columns: 1/2;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 95% -8%;
  position: relative;
}

body #container .card .cardData {
  width: 100%;
  height: 125px;
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 13px;
  background-color: #1c1f4a;
  position: absolute;
  bottom: 0px;
}

body #container .card .cardData .cardDataHead {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container .card .cardData .cardDataHead .cardName {
  margin: 0px;
  color: white;
  font-weight: 500;
}

body #container .card .cardData .cardDataHead .cardMenu {
  font-size: 1.5em;
}

body #container .card .cardData .cardDataResults {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container .card .cardData .cardDataResults .totalTime {
  margin: 0px;
  font-size: 2em;
  font-weight: 300;
  color: white;
}

body #container .card .cardData .cardDataResults .last {
  margin: 0px;
}

body #container #workCard {
  -ms-grid-rows: 2 / span 1;
      grid-template-rows: 2 / span 1;
  background-color: #ff8c66;
  background-image: url(../images/icon-work.svg);
}

body #container #playCard {
  -ms-grid-rows: 3 / span 1;
      grid-template-rows: 3 / span 1;
  background-color: #56c2e6;
  background-image: url(../images/icon-play.svg);
}

body #container #studyCard {
  -ms-grid-rows: 4 / span 1;
      grid-template-rows: 4 / span 1;
  background-color: #ff5c7c;
  background-image: url(../images/icon-study.svg);
}

body #container #exerciseCard {
  -ms-grid-rows: 5 / span 1;
      grid-template-rows: 5 / span 1;
  background-color: #4acf81;
  background-image: url(../images/icon-exercise.svg);
}

body #container #socialCard {
  -ms-grid-rows: 6 / span 1;
      grid-template-rows: 6 / span 1;
  background-color: #7536d3;
  background-image: url(../images/icon-social.svg);
}

body #container #selfCareCard {
  -ms-grid-rows: 7 / span 1;
      grid-template-rows: 7 / span 1;
  background-color: #f1c65b;
  background-image: url(../images/icon-self-care.svg);
}
/*# sourceMappingURL=styles.css.map */